<!DOCTYPE html>
<html lang="en" ng-app="todoAPP">


<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>

<style>
	#button{
		height:100px;
	}
	.chatWrap{
		border: 1px #000 solid;
		
	}
	.popupContainer{
		display:none;
	}
	.right{
		border-right: 1px dashed white;
	}
	body {
  		/*font-family: 'Oswald', sans-serif;*/
  		position: fixed;
  	}
  	.aboutme{
  		color: white;
  	}
  	.scrollable {
    height: 420px;  /*or any value */
    overflow-y: auto;
}
  /*	.tasks{
  		display:none;
  	}*/


</style>
<body ng-controller="todoController as todo" style="background-image:url(/Photos/bg1.jpg">
		<div class="container-fluid navbar navbar-default navbar-fixed-top">
			<a href="" class='navbar-brand'>My Todo APP</a>
			<ul class='nav navbar-nav navbar-right'>
			
        <li class="" ng-show="loginHide"><a href="#modal" class='navbar-brand'id="modal_trigger" ng-click="loginBefore()">Login</a></li>
        <li class="" ng-hide="loginHide"><a href="" class='navbar-brand'>Login as {{userEmail}}</a></li>
        <li class="" ng-hide="loginHide" ng-click="logout()"><a href="" class='navbar-brand'>Logout</a></li></ul></div><br/><br/><br/><br/>
	<div class="container-fluid" ng-show="aboutme">
        	<div class="row ">
        		<div class="col-md-5 right">
        			<img src="/Photos/santosh.jpg" class="img-responsive img-rounded" alt="Santosh Sibyala" width="304" height="236"> 
        		</div>
     
        	
        		<div class="col-md-6 col-md-offset-1 aboutme">
        			<h3>About Me</h3>
        			<h4>Graduate student at San Jose State University in the stream of Software Engineering. I am actively looking for Full-Time opportunities as a Software Engineer. I am currently working as Full-Stack Developer Intern at Knobull, where I developed Responsive web site for Knobull and I am working on Local and Facebook authentication, user management and functionality for blogposts using NodeJS express framework. I am integrating Faroo search API to our front-end. During Summer 2015, I have worked as Software Engineer Intern in BA Technolinks Corp,  Santa Clara. As a software engineer intern I developed chat application for internal website of BA Technolinks. I have one year of experience as Software Engineer in Access Stb Labs Pvt Ltd in India. </h4>
        			<h3>Contact Me</h3>
        			<div class="row">
        				<div class="col-md-5">
        					<h4>Email: santoshsibyala@gmail.com</h4>
        				</div>
        				<div class="col-md-2">
        					<h4><a href="https://www.linkedin.com/in/santoshsibyala" class="btn btn_red">Linkedln</a></h4>
        				</div>
        				<div class="col-md-2">
        					<h4><a href="https://www.github.com/santoshsibyala" class="btn btn_red">GitHub</a></h4>
        				</div>
        				<div class="col-md-2">
        					<h4><a href="https://www.facebook.com/sibyala560" class="btn btn_red">Facebook</a></h4>
        				</div>
        			</div>
        		</div>
        	</div>
        	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>  

		<div class="container" >
			<div class="row " >
				<br/>
				
				<div class="col-md-4 chatWrap well well-lgscrollable scrollable" ng-hide="tasks">
					<div class="row ">
						<div class="col-md-6">
							<h3>All Tasks</h3><br/>
						</div>
						<div class="col-md-3 col-md-offset-2">
							<br/>	
							<!-- <button ng-click="addTask()" class="btn btn-lg btn-primary">Add Task</button> -->
						</div>
					</div>	
					
					<div class="panel panel-danger  " ng-repeat="x in results">

					<div class=" panel-heading " ng-init='y=x.task_id'>
						<div class="row">
						<div class="col-md-6">
						<a href="" id="tasks" ng-click="showTask(y)" >{{x.title}}</a></div>
						<div class="col-md-3 col-md-offset-2">
						<button class="btn btn_red" ng-click="deleteTask(y)">Delete</button></div></div>
					
					</div></div>
					
					
				</div>
				<form >
				<div class="col-md-7 col-md-offset-1 chatWrap well well-lg tasks" ng-show='hide' id="id">
					<div class="row">
						<div class="col-md-8">
							<h3 >Add Task</h3>
						</div>
						<div class="col-md-2">
							<h6><input type="submit" class="btn btn-lg btn-success" ng-click='save()'  value="Save" ng-show="save"></h6>
						</div>
						<div class="col-md-2">
							<h6><input type="button" class="btn btn-lg btn-danger" ng-click='cancel()' ng-show="save" value="Cancel"></h6>
						</div>
					</div>
					
					<h4>Title</h4>
					<input type="text" class="form-control" value="" id="task_title" ng-model="title" required />
					<h4>Task Details</h4>
					<textarea class="form-control" rows="3" value="" id="task_details" ng-model="taskDetails" required></textarea>
					<h4>Notes</h4>
					<textarea class="form-control"rows="3" value="" id="task_notes" ng-model="notes" ></textarea>
					<!-- <h4>Date</h4>
					<input type="date" class="form-control" value="" id="task_date" ng-model="date"/> -->
					<!--
 					<h4>Remainder <input type="checkbox" class="form-control" ng-model="remainder"></h4>
					<h4>Repeat <input type="checkbox"class="form-control" ng-model="repeat"></h4> -->
					
				</div>
			</div>
			
</div>
<div class="container">
	

	<div id="modal" class="popupContainer">
		<header class="popupHeader">
			<span class="header_title" >Login</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>
		
		<section class="popupBody">
			<!-- Social Login -->
			<div class="social_login">
			

				<div class="action_btns">
					<div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
					<div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
				</div>
			</div>

			<!-- Username & Password Login form -->
			<div class="user_login">
				<form name="login">
					<label>Email / Username</label>
					<input type="text" ng-model="email"/>
					<br />

					<label>Password</label>
					<input type="password" ng-model="password"/>
					<br />

					

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><a href="#" class="btn btn_red" ng-click="login()">Login</a></div>
					</div>
				</form>

				<a href="#" class="forgot_password">Forgot password?</a>
			</div>

			<!-- Register Form -->
			<div class="user_register">
				<form id="singupform">
					
					<label>Email Address</label>
					<input type="email" ng-model="email" />
					<br />

					<label>Password</label>
					<input type="password" ng-model="password"/>
					<br />

					

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><a href="#" class="btn btn_red" ng-click="register()">Register</a></div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>
<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.leanModal.min.js"></script>
<script type="text/javascript">
	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_form").click(function(){
			$(".social_login").hide();
			$(".user_login").show();
			return false;
		});

		// Calling Register Form
		$("#register_form").click(function(){
			$(".social_login").hide();
			$(".user_register").show();
			$(".header_title").text('Register');
			return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function(){
			$(".user_login").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('Login');
			return false;
		});

	})
</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  		<script src="../bower_components/jquery/dist/jquery.js"></script>
  		 <script src="bower_components/angular"></script>
  		<script src="/js/controller.js"></script>
  		
		
  		
</body>
</html>
